<section class="container-fluid">
  <div class="row m-0">
    <div class="col-md">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-md-auto p-0">
              <h1 class="m-0 text-dark font-weight-bold"><label>Báo cáo sản lượng</label></h1>
            </div>
          </div>
        </div>
      </div>
      <section class="select__bar mb-4">
        <app-select-bar></app-select-bar>
      </section>
      <section class="tab-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 p-0 bg-white" *ngFor="let btn of cateButton">
              <button class="tab-btn btn rounded-0" style="width: 100%" (click)="changeActive(btn.type)" [class.active]="btn.isActive" routerLink="/quantity-report/{{btn.route}}">
                <i class="fas {{ btn.icon }}"></i>
                {{ btn.label }}
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="search-bar border-bottom">
        <div class="container-fluid">
          <div class="row p-4 bg-white">
            <div class="col-md-6 p-0">
              <div class="input-group">
                <div class="input-group-append">
                  <span
                    class="
                      input-group-text
                      bg-white
                      border border-right-0 border-secondary
                      rounded-left
                    "
                    id="basic-addon1"
                    ><i class="fas fa-search"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control border border-left-0 border-secondary"
                  placeholder="Tìm theo họ và tên, số giấy tờ, email, số điện thoại, tài khoản, gói đang dùng"
                  aria-label="Tìm theo họ và tên, số giấy tờ, email, số điện thoại, tài khoản, gói đang dùng"
                  aria-describedby="basic-addon1"
                />
              </div>
            </div>
            <div class="col-md-6 p-0">
              <div style="float: right">
                <button class="btn btn-outline-primary mr-3">
                  <i class="fas fa-download mr-2"></i
                  >Xuất Excel
                </button>
                <button class="btn btn-outline-primary">
                  <i class="fas fa-eye mr-2"></i
                  >Hiển thị
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="table-data">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</section>
